.button {
    display: inline-block;
    align-self: center;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    background-color: $brand-color;
    color: white;
    text-decoration: none;
    border-radius: 0.25rem;
    transition: background-color 0.3s;
    align-items: end;

    &:visited {
        color: white;
    }

    &:hover {
        background-color: darken($brand-color, 10%);
        text-decoration: none;
    }
}