.consulting-banner {
    background-color: $brand-color;
    margin: 0;
    padding: 1rem;
    text-align: center;

    p {
        color: $text-color;
        padding: 0;
        margin: 0;
    }
}


// Gallery
.consulting-page-wrapper {
    .consulting-offers-title-row {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-gap: 1rem;
        margin-bottom: 1rem;

        @include media-query($on-palm) {
            grid-template-columns: 1fr;
        }

        h1 {
            font-size: 2rem;
        }

        .consulting-contact-methods {
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin-bottom: 1rem;

            .button {
                align-self: end;

                @include media-query($on-palm) {
                    align-self: center
                }
            }
        }
    }

    .consulting-offers-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        grid-gap: 1rem;
        margin-top: 3rem;
        margin-bottom: 1rem;

        .consulting-offer-item {
            background-color: $background-color-secondary;
            border-radius: 1rem;
            border-width: 2px;
            border-color: $grey-color;
            box-shadow: $grey-color 0px 0px 1px 1px;
            transition: box-shadow 0.3s;
            background-color: $background-color-secondary;

            img {
                width: 100%;
                height: auto;
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
            }

            .consulting-offer-description {
                padding: 1rem;
                text-align: center;

                h2 {
                    color: $text-color;
                    font-size: 1.5rem;
                    margin-bottom: 0.5rem;
                }

                .consulting-offer-subtitle {
                    color: $grey-color;
                    font-size: 1rem;
                    top: 0;
                }
            }
        }
    }

    .profile-card {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        background-color: $background-color-secondary;
        border-radius: 1rem;
        border-width: 2px;
        border-color: $grey-color;
        box-shadow: $grey-color 0px 0px 1px 1px;
        transition: box-shadow 0.3s;

        .profile-card-content {
            padding-top: 2rem;
            padding-left: 2rem;
            padding-bottom: 1rem;

            h2 {
                font-size: 2rem;
            }

            p,
            span {
                color: $grey-color;
                margin: 0
            }

            img {
                margin-bottom: 0.5rem;
                border-radius: 1rem;

            }
        }

        .profile-image {
            align-content: end;

            img {
                border-radius: 1rem;

            }
        }
    }


    .consulting-footer {
        flex-direction: row;
        margin-top: 3rem;
        margin-bottom: 1rem;

        h3,
        a {
            display: inline-block;
            margin-right: 0.5rem;
        }
    }
}