// Gallery

.projects-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;

    .projects-item {
        background-color: $background-color-secondary;
        border-radius: 1rem;
        border-width: 2px;
        border-color: $grey-color;
        box-shadow: $grey-color 0px 0px 1px 1px;
        transition: all 0.3s;

        &:hover {
            box-shadow: $grey-color 0px 0px 5px 1px;
            background-color: lighten($background-color-secondary, 2%);
        }

        img {
            width: 100%;
            height: auto;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
        }

        .projects-description {
            padding: 1rem;
            display: flex;

            img {
                width: 87px;
                height: 87px;
                border-radius: 1rem;
                margin: 0 1rem 0 0;
                display: inline;
            }

            h2 {
                color: $text-color;
                font-size: 1.5rem;
                margin-top: 0;
            }

            .projects-subtitle {
                color: $grey-color;
                font-size: 0.9rem;
                margin-top: 0.5rem;
            }
        }
    }
}

// Detail Page

.project-detail {

    .project-detail-header {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 1rem;
        background-color: $background-color-secondary;
        border-radius: 1rem;
        border-width: 2px;
        border-color: $grey-color;
        box-shadow: $grey-color 0px 0px 1px 1px;
        transition: box-shadow 0.3s;
        margin-bottom: 1rem;

        .project-detail-header-image img {
            width: 100%;
            height: 100%;
            border-radius: 1rem;
        }

        .project-detail-header-description {
            padding: 1rem;

            .project-heading-area {
                margin: 0 0;
                display: flex;

                .project-icon {
                    width: 87px;
                    height: 87px;
                    border-radius: 1rem;
                    margin: 0 1rem 0 0;
                    display: inline;
                }

                .project-heading {
                    color: $text-color;
                    font-size: 2rem;
                    margin-top: 0;
                }

                .project-subtitle {
                    color: $grey-color;
                    font-size: 1rem;
                    margin-top: 0.5rem;
                }
            }

            .project-download-buttons {
                display: flex;
                margin-top: 1rem;
                gap: 1rem;
            }

            .project-legal-links {
                font-size: smaller;
                display: flex;
                flex-direction: row;
                align-items: center;
                align-content: center;
                margin-top: 1rem;
                gap: 1rem;
            }

        }
    }

    .project-detail-content-wrapper {

        .project-detail-screenshot-slider {
            float: right;
            width: 100%;
            max-width: 300px;
            margin-left: 2rem;
            margin-bottom: 2rem;
        }

        .project-detail-content {
            min-width: 300px;
            padding: 1rem;
        }
    }
}