---
layout: default
---

<div class="book-overview">
	{%- if page.title -%}
	<h1 class="page-heading">{{ page.title }}</h1>
	{%- endif -%}

	{{ content }}

	<section class="page-section" id="{{ site.data.sitetext.books.section | default: 'books' }}">
		<div class="book-wrapper">
			{% for book in site.books %}
			<a href="{{ book | relative_url }}">
				<div class="book-item">
					<img src="{{ book.image | relative_url }}" alt="{{ book.title }}">

					<div class="book-description">
						<div>
							<h2 class="book-heading">{{ book.title }}</h2>
							{% if book.subtitle %}
							<div class="book-subtitle">{{ book.subtitle }}</div>
							{% endif %}
							<div class="book-authors">
								<span>by</span>
								{% for author in book.authors %}
								<span class="book-author">{{ author }}</span>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</a>
			{% endfor %}
		</div>
	</section>

</div>