---
layout: default
---
<div class="consulting-page-wrapper">
  <section class="consulting-offers-title-row">
    <div>
      <h1>{{ page.leadership_title }}</h1>
      <p>{{ page.leadership_subtitle }}</p>
    </div>
    <div class="consulting-contact-methods">
      <a href="{{ site.appointment_booking_url }}" target=”_blank” class="button">Book and introduction meeting</a>
      <a href="mailto:{{ site.email }}" class="button">Contact us via email</a>
    </div>
  </section>

  <section class="consulting-offers-wrapper">
    {% for offer in page.leadership_offers %}
    <div class="consulting-offer-item">
      {% if offer.image %}
      <img src="{{ offer.image | relative_url }}" alt="{{ offer.title }}">
      {% endif %}
      <div class="consulting-offer-description">
        <h3>{{ offer.title }}</h3>
        {% if offer.subtitle %}
        <div class="consulting-offer-subtitle">
          {{ offer.subtitle }}
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </section>

  <section class="consulting-offers-wrapper">
    <div>
      <h2>{{ page.leadership_support_title }}</h2>
      <ul>
        {% for item in page.leadership_support %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </div>
    <div>
      <h2>{{ page.leadership_benefits_title }}</h2>
      <ul>
        {% for item in page.leadership_benefits %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <section class="profile-card">
    <div class="profile-card-content">
      <h2>Monika Wiest</h2>
      <h3>Engineering Leadership Consulting</h3>
      <p>Monika is a seasoned engineering leader with experience in software development and
        engineering management in large and small organisations. She has a proven track record of building and leading
        high-performing engineering teams
        and delivering successful software projects.</p>
    </div>
    <div class="profile-card-content">
      <h3>Past Experience</h3>
      <img src="/assets/monika/flink.png" alt="Flink" />
      <img src="/assets/monika/klarna.png" alt="Klarna" />
      <img src="/assets/monika/netlight.png" alt="Netlight" />
      {%- if site.linkedin_username -%}
      </br>
      <span>See more details on
        <a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}"
          target="_blank">LinkedIn</a>
      </span>
      {%- endif -%}
    </div>
    <div class="profile-image">
      <img src="/assets/monika/profile.png" alt="Monika Wiest" />
    </div>
  </section>

  <section class="consulting-footer">
    <h2>Interested?</h2>
    <p>Whether you’re a startup looking to build a strong engineering foundation or an established company aiming to
      optimize your processes, we’re here to help you navigate the complexities of your software engineering efforts.
      Reach out!
    </p>
    <a href="{{ site.appointment_booking_url }}" target=”_blank” class="button">Book and introduction meeting</a>
    <a href="mailto:{{ site.email }}" class="button">Contact us via email</a>
  </section>
</div>