<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body>
  {%- include google_tag_manager_body.html -%}
  {%- include header.html -%}
  {%- include hero.html -%}

  {% if page.banner %}
  <section class="consulting-banner">
    <p>{{ page.banner}}</p>
  </section>
  {% endif %}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {%- include footer.html -%}
</body>

</html>