---
layout: default
---
<div class="project-detail">
  <div class="project-detail-header">
    <div class="project-detail-header-description">

      <div class="project-heading-area">
        {% if page.icon %}
        <img src="{{ page.icon }}" alt="{{ page.title }}" class="project-icon">
        {% endif %}
        <div>
          <h1 class="project-heading">{{ page.title }}</h1>
          <div class="project-subtitle">{{ page.subtitle }}</div>
        </div>
      </div>

      <div class="project-download-buttons">
        {% if page.play_store_url %}
        <a href="{{ page.play_store_url }}" target="_blank"><img src="/assets/buttons/playstore.png"
            alt='google play' /></a>
        {% endif %}
        {% if page.app_store_url %}
        <a href=" {{ page.app_store_url }}" target="_blank"><img src="/assets/buttons/appstore.png"
            alt='app store' /></a>
        {% endif %}
      </div>

      <div class="project-legal-links">
        {% if page.support_url %}
        <a class="button" href="{{  page.support_url }}" class="button">Support & Feedback</a>
        {% endif %}
        {% if page.terms_and_conditions_url %}
        <a href="{{ page.terms_and_conditions_url }}">Terms & Conditions</a>
        {% endif %}
        {% if page.privacy_policy_url %}
        <a href="{{ page.privacy_policy_url }}">Privacy Policy</a>
        {% endif %}
      </div>
    </div>
    <div class="project-detail-header-image">
      <img src="{{ page.image }}" alt="{{ page.title }}">
    </div>
  </div>

  <div class="project-detail-content-wrapper">
    {% if page.carousels %}
    <div class="project-detail-screenshot-slider">
      {% include carousel.html height="180" unit="%" duration="4" number="1" %}
    </div>
    {% endif %}
    <div class="project-detail-content">
      {{ content }}
    </div>
  </div>
</div>


</div>